<ng-template #modal let-modal>
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <div class="modal-header">
      <h5 class="modal-title">Add new worker</h5><button type="button" class="close"
        (click)="modal.close()"><span>×</span></button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="url">URL</label>
        <input type="url" class="form-control autofocus" formControlName="url" placeholder="http://">
      </div>
      <div class="form-group mb-2">
        <label for="token">Access token</label>
        <input type="password" class="form-control" formControlName="token" placeholder="Optional">
      </div>
      <div class="form-group mb-2">
        <label for="token">Or, import from <a href="http://workers.xmrig.info"
            target="_blank">http://workers.xmrig.info</a></label>
        <textarea class="form-control" formControlName="import"
          placeholder="Paste the Export url here. (http://workers.xmrig.info/import/A5Yb1e3...)"></textarea>
      </div>
      <div class="alert alert-warning mb-0" role="alert" *ngIf="form.get('import')?.value?.length > 0">
        <fa-icon icon="exclamation-triangle"></fa-icon> All your workers will be replaced.
      </div>
    </div>
    <div class="modal-footer">
      <fa-icon icon="spinner" [spin]="true" size="lg" *ngIf="loading"></fa-icon>
      <span class="text-danger" *ngIf="err">
        <fa-icon icon="exclamation-triangle"></fa-icon> Failed to fetch
      </span>
      <button type="submit" class="btn btn-primary" [disabled]="!valid">
        <fa-icon icon="plus"></fa-icon> Add worker
      </button>
      <button type="button" (click)="modal.close()" class="btn btn-secondary hidden-xs">Close</button>
    </div>
  </form>
</ng-template>
